* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* For Webkit browsers */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #777777;
}
